{% load staticfiles %}
<header>
   <link rel="stylesheet" href="{%  static  'css/new.css' %}">
</header>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <h1>welcome here to BVBCET</h1>
</head>
<body>
<a href="{% url   'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
<a href="{% url  'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
<div>
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
